# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Jupyter / IPython
.ipynb_checkpoints

# Operating System Files
.DS_Store
Thumbs.db

# Workspace / Scratch working directories (optional)
/workspace/scratch/
